.test {
    height: 100vh;
    background-color: #a8d5b9;
}

.tmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}